body{
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

#kitchen-photo{
    width: 500px;
    height: 200px;
}

#plate-photo{
    width: 200px;
    height: 200px;
}

/* The header of the page - lines 12-24 */
.header{
    display: flex;
    justify-content: center;
    align-items: center;
    justify-content: space-around;
    padding: 20px 0px;
    background-color: #1F2937;
    border: red dotted 2px;
}
#logo{
    color: white;
    margin: 0;
    font-weight: bold;
    font-size: 20px;
    border: green solid 2px;
}
ul{
    list-style: none;
    display: flex;
    gap: 20px;
    margin: 0;
    padding: 0;
    border: green solid 2px;
}
a{
    text-decoration: none;
    color: lightgray;
    font-size: 18px;
}
/* End of header css */


/* Section 1 css */
.container-1{
    border: red dotted 2px;
    display: flex;
    justify-content: center;
    justify-content: space-around;
}
.part-1{
    border: green solid 2px;
    display: flex;
    flex-direction: column;
}
.part-2{
    border: green solid 2px;
    display: flex;
    flex-direction: column;
}
/* End of section 1 */


/* Section 2 css - lines 39-77 */
.container3{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.title{
    margin: 0;
    margin-bottom: 40px;
}
h3{
    font-size: 36px;
    font-weight: bold;
}
.information{
    display: flex;
    justify-content: center;
    gap: 52px;
}
.box{
    width: 200px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.text{
    text-align: center;
}


/* footer */
.footer{
    text-align: center;
    background-color: #1F2937;
    color: lightgray;
}