body{
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
}

#kitchen-photo{
    width: 500px;
    height: 200px;
}

#plate-photo{
    width: 200px;
    height: 200px;
}

/* The header of the page - lines 12-24 */
.header{
    display: flex;
    justify-content: center;
    align-items: center;
    justify-content: space-around;
    padding: 20px 0px;
    background-color: #1F2937;
}
#logo{
    color: white;
    margin: 0;
    font-weight: bold;
    font-size: 20px;
}
ul{
    list-style: none;
    display: flex;
    gap: 20px;
    margin: 0;
    padding: 0;
}
a{
    text-decoration: none;
    color: lightgray;
    font-size: 18px;
}
/* End of header css */


/* Section 1 css - lines 27-36 */
.container1{
    display: flex;
    flex-direction: column;
}